.App {
  text-align: center;
}

html {
  margin: 0;
  padding: 0;
}
.App {
  height: 95vh;
  width: 60vw;
  margin-top: -16px;
  margin-left: 20%;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.AppMargin {
  width: 100%;
  height: 30px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
